.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.shadow {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.profile-pic {
	width: 100px;
	height: 100px;
	background: url(../img/profile-pic.jpg) no-repeat;
	margin-left: auto;
	margin-right: auto;
}


.middle {
	margin-top: 10%;
}

.centered {
	text-align: center;
}

.intro {
	margin-top: 200px;
    width: 100%;
    height: 100%;
    position: relative;
    color: #3d567b;
}

.portfolio {
	margin-top: 50px;
}

body {
	height: 0px;
}

li {
	list-style-type: none;
	display:inline;
	margin-right: 30px;
}

/* CASH MONEY */
.ratchet-quote {
	margin-top: 75px;
	font-style: italic;
}

.handset {
	margin-right: 100px;
	float: right;
	width: 288px;
	height: 502px;
	background-image: url("../img/handset.png");
}