html {
	font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #818D97;
}

p.nav {
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 640px;
}

.description {
	padding-left: 1em;
}

.header {
	text-align: center;
}