html {
	font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #414141;
}

a {
	color: #484D51;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #231f7a;
}

p.nav {
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 640px;
}

.description {
    font-family: 'Crimson Text', serif;
	padding-left: 1em;
}

.header {
	text-align: center;
}