a {
    color: #888;
}

p {
    font-size: 20px;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#logo {
    width: 800px;
    height: 92px;
}

#navbar {
    margin-top: 20px;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    display: inline;
    margin-right: 130px;
}