body {
	font-family: Verdana;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width:980px;
	height: 100%;
	margin: auto;
}

h2 {
	font-size: 24px;
	color: #545454;
}

h3 {
	font-size: 18px;
}

#header {
    background-image: url("PichurLogo.png");
    width:346px;
    height: 113px;
}

#desc-div {
	position:absolute;
	width: 500px;
	height: 300px;
	margin-top:30px;
	margin-left: 20px;
}

#download-div {
	margin-left: 540px;
	margin-top: 30px;
	width: 430px;
	height: 113px;
	position:absolute;
}

#download-div a{
	color:white;
	text-decoration:none;
}

#features {
	margin-top: 350px;
	position:absolute;
	width: 800px;
}

#features ul {
	list-style:none;

}

#features li {
	width: 200px;
	margin-right: 30px;
	display:inline;
	float:left;
}

#img-desc {
	margin-top:80px;
	margin-bottom: 90px;
	width: 200px;
	color: #545454;
}

#download-btn {
	margin-right: 10px;
	margin-top: 20px;
	width: 170px;
	height: 30px;
	color: white;
	background-color: #a2d4ff;
	
	padding-left: 30px;
	padding-top: 10px;
	
	font-weight: bold;
	-webkit-border-radius: 5px;
	cursor:hand;
}

#download-btn:hover {
	background-color: #3AA6E0;
}

p.description {
	float:left;
	font-family: Georgia;
	font-size: 18px;
	color: #545454;
}

p.feature-description {
	font-family: Georgia;
	font-size: 14px;
	color: #545454;
}
