body {
    background-color: #f4f3ef;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);
}

#demo-gif {
    display: none;
}

.download-box {
    margin-top: 20px;
}
